.home-slider {
    width: 80%;
    margin: 0 auto;
    min-width: 300px;
    column-gap: 20px;
    row-gap: 20px;
    .card {
        width: 95%;
        margin: 0 auto;
    }

    // Slick
    .slick-prev:before, .slick-next:before {
        color: black;
        font-size: 30px;
    }

    .slick-prev, .slick-next {
        width: 25px;
        height: 25px;
    }

    .slick-next {
        right: -25px;
    }

    .slick-prev {
        left: -45px;
    }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        opacity: .0;
    }
}